In [1]:
import pandas as pd
df = pd.read_csv('db/cars.csv')
df.sample(10)

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
5475,Mitsubishi,ASX,automatic,silver,150000,2011,gasoline,False,gasoline,2.0,...,True,False,False,False,False,False,True,True,True,8
14427,Renault,Laguna,mechanical,blue,470000,1997,gasoline,False,gasoline,2.0,...,True,False,False,False,True,False,False,False,True,148
8921,Fiat,Tipo,mechanical,red,260000,1993,gasoline,False,gasoline,1.4,...,False,False,False,False,False,False,False,False,False,4
5750,Mitsubishi,Space Runner,mechanical,blue,294000,1999,gasoline,False,gasoline,2.0,...,False,False,False,False,False,False,True,False,True,63
36312,Peugeot,406,mechanical,blue,150000,1999,gasoline,False,gasoline,1.8,...,True,False,False,False,False,False,False,False,False,0
35846,Mercedes-Benz,E230,mechanical,white,500000,1987,gas,True,gasoline,2.3,...,False,False,False,False,False,False,False,False,False,138
9598,Ford,Tourneo,mechanical,white,167239,2015,diesel,False,diesel,1.5,...,True,False,False,False,False,False,False,False,False,27
2935,Opel,Astra,mechanical,grey,400000,1997,diesel,False,diesel,1.7,...,False,False,False,False,False,False,False,False,False,129
16987,Volkswagen,T4 Multivan,mechanical,red,250000,1996,diesel,False,diesel,1.9,...,True,True,True,False,False,True,True,True,True,121
9057,Fiat,Doblo,mechanical,brown,457000,2007,diesel,False,diesel,1.9,...,True,False,False,False,False,False,False,False,True,16

Pandas dummies: https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html
- Es la forma real en como se representa un One-hot

In [2]:
pd.get_dummies(df['engine_type'])

       diesel  electric  gasoline
0           0         0         1
1           0         0         1
2           0         0         1
3           0         0         1
4           0         0         1
...       ...       ...       ...
38526       0         0         1
38527       1         0         0
38528       0         0         1
38529       0         0         1
38530       0         0         1

[38531 rows x 3 columns]

One-hot con Scikit: https://scikit-learn.org/stable/modules/preprocessing.html#encoding-categorical-features

In [3]:
import sklearn.preprocessing as preprocessing
encoder = preprocessing.OneHotEncoder(handle_unknown='ignore') # handle_unknow convierte los NaN a 0 en el encoding

In [4]:
encoder.fit(df[['engine_type']].values)

OneHotEncoder(handle_unknown='ignore')

In [5]:
encoder.transform([['gasoline'],['diesel'],['aceite']]).toarray()

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 0.]])

Â¿Variables numÃ©ricas como si fueran categÃ³ricas?

In [6]:
encoder.fit(df[['year_produced']].values)

OneHotEncoder(handle_unknown='ignore')

In [8]:
encoder.transform([[2016],[2009],[1900]]).toarray()

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])